body {
    background-color: lightgray;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.poiterToHand {
    cursor: grab;
}

.info {
    background-color: lightgray;
    padding: 0.1%;
    width: 66%;
    float: right;
    z-index: 1;
}

.centered {
    text-align: left;
    z-index: 1;
    width: 350px;
}

.button {
    background-color: gray;
    padding: 30px;
}

.StartButtonPvP {
    visibility: hidden;
    background-color: gray;
}

.footer {
    position: absolute;
    bottom: 10px;
}

.hidden {
    visibility: hidden;
}
